.profileHeader {
    display: flex;
    flex-direction: row;
    background: #ededed;
    padding: 15px;
    align-items: center;
    gap: 10px;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#search {
    padding-left: 800px;
}

#line-more {
    padding-left: 10px;
}