.app-container {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100vh;
  background: #fff;
}

.contact-list {
  height: 100vh;
  background-color: #fff;
}


.profileInfo {
  display: flex;
  flex-direction: row;
  background: #ededed;
  padding: 15px;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.searchBox {
  background: #f6f6f6;
  padding: 10px;
}

.searchContainer {

  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 16px;
  width: 90%;
  padding: 20px 0;
}

.searchIcon {
  width: 15px;
  height: 15px;
  padding-left: 10px;
}

.searchInput {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 15px;
}

.contactItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  background: white;
}

.profileIcon {
  width: 38px;
  height: 38px;
  border-radius: 50%;

}

.contactInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 19px;
}

.contactName {
  width: 100%;
  font-size: 16px;
  color: black;
}

.messageText {
  width: 20%;
  font-size: 14px;
  margin-top: 3px;
  color: rgba (0, 0, 0, 0.8);
}

.emoji {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  opacity: 0.7;
  border-radius: 40%;
  cursor: pointer;
}

.messageContainer {
  height: calc(100vh - 70px - 80px);
  overflow-y: scroll;
  background-color: #98ff64;
  padding: 0.25rem;
  box-sizing: border-box;
}

#msg-icn {

  padding-left: 20px;
  padding-top: 10px;
}

#line {
  padding-left: 10px;
  padding-top: 10px;
}

#user {
  padding-left: 200px;
  padding-top: 10px;
}

#filter {
  padding-left: 310px;
  justify-content: flex-start;
}